# Regras para backend-rails
/backend-rails/log/
/backend-rails/tmp/
/backend-rails/.bundle/
/backend-rails/vendor/bundle/
/backend-rails/.byebug_history
/backend-rails/db/*.sqlite3
/backend-rails/db/*.sqlite3-journal
/backend-rails/storage/
/backend-rails/node_modules/
/backend-rails/public/packs
/backend-rails/public/assets

# Regras para backend-nest
/backend-nest/node_modules/
/backend-nest/dist/
/backend-nest/.env

/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Regras comuns (opcional)
/**/.DS_Store
**/.env
